bin/
obj/
Debug/
Release/
x64/
x86/
*.exe
*.dll
*.pdb
*.appx
*.appxupload
*.appxsym

*.user
*.userosscache
*.suo
*.sln.docstates

*.log

*.TestResult.xml
*.trx
coverage*.json
coverage*.xml
coverage*.info
*.coverage
*.coveragexml

packages/
*.nupkg
*.snupkg
*.nuspec
.nuget/

.vs/
.idea/
.vscode/

*.tmp
*.temp
~$*
*.dbmdl
*.bak

publish/
*.Publish.xml
*.publishsettings


_ReSharper.Caches/
*.resharper
*.sln.iml

!PeopleApi/sample-input.csv


appsettings.Development.json
appsettings.Local.json
secrets.json


*.old
*.orig


.idea/
*.sln.iml